.file-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 650px;
  padding: 10px 20px;
  transition: 0.3s;
  border-bottom: 1px solid rgb(173, 173, 173);
}
.file-container:hover {
  background-color: rgb(241, 241, 241);
}
.file-container:first-child:hover {
  background-color: rgb(241, 241, 241);
  border-radius: 10px 10px 0px 0px;
}

.file-container p {
  padding: 0;
  margin: 0;
}
.file-container a div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
.file-container a div:hover {
  background-color: rgb(189, 189, 189);
}

.file-container a div img {
  width: 18px;
}
